* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #4f72c2;
  --secondary-color: #90b8f8;
  --dark-color: #26282b;
  --dark-color-2: #2a2c31;
  --light-color: #fff;
}

.text-custom-primary {
  color: var(--primary-color);
}
.text-custom-secondary {
  color: var(--secondary-color);
}

.bg-custom-dark {
  background-color: var(--dark-color);
}

.bg-custom-dark-2 {
  background-color: var(--dark-color-2);
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* navbar */

.nav-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-toggler {
  display: none;
}

@media (max-width: 767px) {
  .nav-toggler {
    display: block;
  }

  .nav-group {
    background-color: var(--dark-color);
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    display: none;
    gap: 8px;
    flex-direction: column;
    padding: 20px 0px;
  }
}

.nav-item {
  list-style: none;
}

.nav-item a {
  text-decoration: none;
  color: #fff;
  opacity: 0.5;
}

.nav-item a:hover {
  color: #fff;
  opacity: 1;
}

/* hero */
#hero {
  min-height: 100vh;
  background-color: var(--dark-color);
  color: var(--light-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.btn-custom {
  background-color: #4f72c2;
  border-radius: 8px;
  padding: 12px 32px;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.btn-custom:hover {
  background-color: #90b8f8;
  color: black;
}

#hero .btn:hover {
  background-color: #90b8f8;
  color: black;
}

/* about */
#about {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dark-color-2);
  align-items: center;
  color: #fff;
}

.about {
  background-color: var(--dark-color);
  border-radius: 10px;
  margin: 0 10px;
  padding: 20px;
}

.about img {
  height: 100%;
  width: 200px;
  border-radius: 10px;
}

/* experience */
#experience {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dark-color);
  align-items: center;
  color: #fff;
  position: relative;
}

/* #experience h4 {
  color: #90b8f8;
  font-size: 40px;
  font-weight: 700;
} */

.skill-group {
  padding: 24px 0px;
}

.card-experience {
  background-color: #353941;
  margin: 0 10px;
  padding: 20px 32px;
  border-radius: 12px;
  width: 100%;
  margin-bottom: 20px;
}

.card-experience:hover {
  background-color: #35394197;
  transform: scale(1.1) !important;
}

.card-experience img {
  width: 100%;
  height: 100%;
  /* border-radius: 10px; */
  object-fit: contain;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-experience h5 {
  color: #90b8f8;
  font-size: 30px;
  font-weight: 600;
  margin: 0;
  padding: 10px;
}

#experience .container {
  width: 80%;
}

#experience p {
  opacity: 0.6;
  margin: 0;
}

/* jobs */
#jobs {
  padding: 50px 0px;
  background-color: var(--dark-color-2);
}

.jobs-item {
  width: calc(100% / 3 - 12px);
  margin-bottom: 20px;
  background-color: var(--dark-color);
  display: flex;
  flex-direction: column;
}

.jobs-item-img {
  height: 200px;
}

.jobs-item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.jobs-item h5 {
  color: var(--secondary-color);
  font-size: 20px;
  font-weight: 600;
}

.jobs-body {
  padding-top: 12px;
}

.jobs-footer .btn {
  display: inline-block;
  background-color: #4f72c2;
  border-radius: 8px;
  padding: 8px 16px;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.jobs-footer .btn:hover {
  background-color: #90b8f8;
  color: black;
}

.job-group {
  display: flex;
  justify-content: space-between;
}

.job-item {
  background-color: #f1f1f1;
  padding: 20px;
  flex: 1; /* Set item agar memiliki ukuran yang sama */
  margin: 10px;
  text-align: center;
}
#job {
  background-color: #353941;
  color: #fff;
}

.job-header h4 {
  color: var(--secondary-color);
  font-size: 40px;
  font-weight: 700;
}

.job-header p {
  opacity: 0.6 !important;
  margin: 0;
}

.job-title p {
  opacity: 0.6 !important;
  margin: 0;
  font-size: 18px;
  margin-bottom: 0;
}

#job .btn {
  background-color: #4f72c2;
  border-radius: 8px;
  padding: 10px 20px;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
  width: 20%;
}

/* .job-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
} */

#job h4 {
  color: #90b8f8;
  font-size: 40px;
  font-weight: 700;
}

.job-list {
  background-color: var(--dark-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.job-group {
  display: flex;
  flex-wrap: wrap; /* Untuk memastikan item tetap responsif */
}

.job-list {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto; /* Membuat job-list memiliki tinggi yang sama */
}

.job-list img {
  max-width: 100%;
  height: auto;
}

/* .job-list img {
  max-width: 100%;
  height: auto;
} */

.job-list h5 {
  padding-top: 10px;
  color: #90b8f8;
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0;
}

.job-list p {
  opacity: 0.8;
  margin: 0;
}

#form {
  background-color: #26282b;
  color: #fff;
}

#form h4 {
  color: #90b8f8;
  font-size: 40px;
  font-weight: 700;
}

#form .container {
  width: 50%;
}
#form .container .row .col input {
  background-color: #353941;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-bottom: 10px;
}

#form .btn {
  background-color: #5f85db;
  color: #fff;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: none;
}

#form .btn:hover {
  background-color: #90b8f8;
  color: #fff;
}

#form input {
  background-color: var(--dark-color-2);
  height: 50px;
  color: #fff;
  border: none;
}

#form label {
  margin-bottom: 10px;
}

.input-form {
  background-color: #353941;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-bottom: 10px;
}

.bi {
  font-size: 30px;
}

footer {
  background-color: var(--dark-color-2);
  color: #fff;
  padding: 20px 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icon a {
  color: #fff;
}

/* mobile  */
@media (max-width: 767px) {
  header .container {
    display: flex;
    justify-content: end;
    margin: 0 !important;
    padding: 0 !important;
  }

  body {
    overflow-x: hidden;
  }

  #hero .btn {
    width: 50%;
  }

  #hero {
    margin: 0 !important;
    padding: 0 !important;
  }

  #hero {
    height: 70vh;
  }

  header {
    padding: 0 5%;
    width: 100%;
    max-width: 100%;
  }

  .hero-text {
    text-align: center;
  }

  .hero-text h4 {
    font-size: 18px;
  }

  #hero h1 {
    font-size: 40px;
  }

  .logo {
    width: 300px;
  }

  #about {
    min-height: 100vh;
  }

  #about .row,
  #abot .container {
    margin: 0;
    padding: 0;
  }

  .about img {
    width: 150px;
  }

  .about-text {
    text-align: justify;
    width: 100%;
    padding-top: 8%;
  }

  .table {
    font-size: 16px;
  }

  .about-text .btn {
    font-size: 18px;
    width: 100%;
    padding: 10px 20px;
  }

  #job .row {
    margin-left: 0;
    margin-right: 0;
  }

  #experience .row {
    margin: 0;
    flex-wrap: nowrap;
  }
  #experience .container {
    width: 100%;
  }

  .card-experience {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .row {
    flex-direction: column;
  }

  /* jobs */
  .jobs-group {
    flex-direction: column;
  }

  .jobs-item {
    width: 100%;
  }

  #job .container {
    width: 100%;
  }
  #job .job-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap !important;
  }
  #job .btn {
    width: 100%;
  }
  .job-list {
    padding-bottom: 20px;
    margin-bottom: 5%;
  }

  #form .container,
  #form .row {
    padding: 0;
    margin: 0;
  }
}

/* Medium screens */
@media (min-width: 768px) and (max-width: 991px) {
  .hero-text {
    padding-top: 60px;
    margin-left: 32px;
  }

  .hero-text h4 {
    font-size: 20px;
  }

  #hero h1 {
    font-size: 48px;
  }

  .logo {
    width: 350px;
  }

  #about {
    min-height: 100vh;
  }

  #about .container {
    width: 100%;
  }

  .about img {
    width: 180px;
    padding: 20px 0;
  }

  .about-img {
    width: 100%;
    text-align: center !important;
  }

  .table {
    font-size: 18px;
  }

  .about-text .btn {
    font-size: 20px;
  }

  #experience .container {
    width: 100%;
  }

  .card-experience {
    flex-direction: column;
    align-items: center;
  }

  .row {
    flex-direction: column;
  }

  .jobs-group {
  }

  .jobs-item {
    width: calc(100% / 2 - 12px);
  }

  #job .container {
    width: 100%;
  }

  .job-group .job-list {
    width: 100%;
    height: 100%;
  }

  #form .container {
    width: 80%;
    margin-left: 0;
    margin-right: 0;
  }
}

/* Larger screens */
@media (min-width: 992px) {
  .hero-text {
    padding-top: 70px;
    margin-left: 48px;
  }

  .hero-text h4 {
    font-size: 24px;
  }

  #hero h1 {
    font-size: 64px;
  }

  .about img {
    width: 200px;
  }

  .table {
    font-size: 20px;
  }

  .about-text .btn {
    font-size: 24px;
  }

  #experience .container {
    width: 80%;
  }

  .card-experience {
    flex-direction: row;
    align-items: center;
  }

  .row {
    flex-direction: row;
  }

  #job .container {
    width: 100%;
  }

  .job-group .job-list {
    width: 30%;
  }

  #form .container {
    width: 50%;
  }
}
